.neighborhood {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(245, 246, 247);
  padding: 16px;
  font-family: TruliaSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgb(59, 65, 68);
}

.header {
  margin-top: 16px;
  margin-bottom: 12px;
}

.local {
  font-family: TruliaSans, system, -apple-system, Roboto, "Segoe UI Bold", Arial, sans-serif;
  color: rgb(59, 65, 68);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
}