.flexbox-container-carousel {
  display: flex;
  justify-content: space-evenly;
}

.flexbox-item-carousel {
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 345px;
  background-color: rgb(0, 173, 187);
  border-radius: 8px;
}

.carousel {
  position: relative;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.carousel-container{
  height: 100%;
  position: relative;
  transition: transform 250ms;
}

.row{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(235, 233, 156);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.carousel-btn-left {
  left: -2px;
  z-index: 1;
  position: relative;
}

.carousel-btn-right{
  right: -40px;
}
.carousel-btn img {
  width: 12px;

}