.flagReviewBackground {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px) grayscale(50%);
  display: flex;
  justify-content: center;
}

.flagReviewContainer {
  max-width: 620px;
  max-height: 50%;
  margin: 10% auto;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  animation: pop-out 0.25s;
}

@keyframes pop-out {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

.flagContent{
  color: black;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 24px;
}

.flagGuidelines{
  font-weight: normal;
  font-size: 16px;
}

.flagForm{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 16px;
}

.report {
  margin: 0px 0px 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 120, 130);
  border-color: transparent;
  box-shadow: rgba(59, 65, 68, 0.7) 0px 8px 20px -15px;
  width: 20vh;
  outline: none !;
  box-shadow: none!important;
}

.cancel{
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
  color: rgb(59, 65, 68);
  background-color: rgb(255, 255, 255);
  border-color: rgb(205, 209, 212);
  margin: 0px 0px 0px 1em;
  width: 20vh;
  outline: none !;
  box-shadow: none!important;
}