.modalBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px) grayscale(50%);

}

.modalContainer {
  width: 90%;
  height: 95%;
  margin: auto auto;
  left: 50%;
  top: 50%;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
}

.navModal{
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalButtons {
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 30px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(205, 209, 212);
  color: rgb(255, 255, 255);
  outline: none;
  box-shadow: none!important;
}

.modalButtonClick {
  background-color: white;
  color: rgb(205, 209, 212);
}

.gridContainer {
  display: grid;
  overflow: hidden;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-flow: row;
  row-gap: -40px;
}